#green {
    color: #5cb85c;
}

.green-background {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.margin-left {
    margin-left: 1em;
}

.author {
    font-size: 75%;
}